<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios</title>
    <link rel="stylesheet" href="/static/css/CadastroLogin.css">
    <link rel="stylesheet" href="/static/css/chat.css">
</head>
<body>
    <header class="header">
        <a href="/user/{{session['nome']}}" style="text-decoration: none;"><h1>Horarios</h1></a>
    </header>
    <main class="main">
      
    </main>
</body>
</html>