<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddProduto</title>
    <link rel="stylesheet" href="../static/estilos/addproduto.css">
    <script src="../static/scritps/addprodutos.js" defer></script>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            <input type="file" name="" id="imgfile" style="display:none">
            <h1>Adicione Um Produto</h1>
            <input type="text" placeholder="Nome Do Produto" id="name">
            <input type="number" name="codigo" id="codigo" placeholder="Codigo Do Produto">
            <h2>Imagem do Produto</h2>
            <label for="imgfile">
                <span></span>
                <span></span>
            </label>
            <button type="submit" id="btnconfirm">Adicionar</button>
            <a href="/produtos">Voltar</a>
        </form>
    </div>
</body>
</html>