<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema</title>
    <link rel="stylesheet" href="/static/estilos/homepage.css">
</head>
<body>
   <header class="header">
   

    <div class="user">
        <div></div>

        <img src="" alt="">

        <ul class="menu">
            <li>Produtos</li>
            <li><a href="/perfil">Configurações</a></li>
            <li>Suporte</li>
        </ul>
    </div>
    
   </header>

   <main>

   </main>
   
</body>
</html>