<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/estilos/config.css">
</head>
<body>
    <div class="container">
    <h1>Olá {{nome}} Seja Bem Vindo Ao BuyOS</h1>
    <div class="form-container">


    <form action="/redefinir" method="post">
        <h1>Redefinir Senha</h1>
        <input type="text" name="rnome" id="rnome" placeholder="Digite o Nome De usuario">
        <input type="password" name="rsenha" id="rsenha" placeholder="Digite a Senha nova Senha">
        <button type="submit">Atualizar Senha</button>
    </form>
    <form action="/delete" method="post">
        <h1>Deletar Conta</h1>
        <input type="text" name="dnome" id="dnome" placeholder="Digite o Nome ">
        <input type="password" name="dsenha" id="dsenha" placeholder="Digite a Senha">
        <button type="submit">Deleta Conta</button>
    </form>
</div>
</div>
</body>
</html>