<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="../static/estilos/produtos.css">
</head>
<body>
    <header>
        <a href="/homepage" class="user"></a>
        <div class="serch">

      
        <h1>Buscar Produtos</h1>
        <input type="search" name="" id="" placeholder="Digite o Nome Do Produto">
        <a href="/addproduto">Adicionar Produtos</a>
    </div>
    </header>

    <main class="main">
        <div class="item" id="item">
            <h1 class="title" id="title">Nome</h1>
            <img src="" alt="" id="img">
            <h2 class="codigo" id="codigo">Codigo</h2>
        </div>
    </main>
</body>
</html>