*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    color: white;
}
.header{
    width: 100%;
    height: 20%;
    background: linear-gradient(to left,rgb(105, 11, 124),rgb(198, 67, 224));
    box-shadow: 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user{
    width: 10%;
    height: 80%;
    background: rgb(121, 48, 216);
    margin-left: 50px;
    border-radius: 100%;
    cursor: pointer;
}
.user:hover{
    border: 2px solid rgb(255, 255, 255);
}
.sign{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 200px;
 
}
.sign div{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}
.sign button{
    background: none;
    border: none;
    font-size: 20pt;
    color: white;
}
.mn-drop{
    display: none;
}
.sign button:hover{
    cursor: pointer;
    font-weight: 550;
}
.main{
    width: 100%;
    height: 80%;
    background: rgb(148, 68, 201);
    
}
.cadMenu,.loginMenu{
    position: absolute;
    display: none;
    width: 300px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    right: 0;
    background: rgba(240, 237, 237, 0.397);
    
}
.cadMenu input,.loginMenu input{
    
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: dodgerblue;
}
.cadMenu button,.loginMenu button{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    background: dodgerblue;
    border: none;
    font-size: 16pt;
    color: white;
    cursor: pointer;
}
.cadMenu button:hover,.loginMenu button:hover{
    border: 2px solid white;
}
.cadMenu input::placeholder,.loginMenu input::placeholder{
    color: white;
    font-size: 12pt;
    padding: 10px;
    text-align: center;
    
}
.cadMenu input:hover,.loginMenu input:hover{
    border: 3px solid white;
    cursor: pointer;
}
.aviso{
    width: 750px;
    position: absolute;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}


@media(max-width:800px){
.header{
    display: flex;
  
}
.header .user{
    width: 100px;
    height: 100px;
}
.sign{
    display: none;  
    flex-direction: column;
    height: 150px;
    border: 3px solid white;
    position: absolute;
    right: 0;
    width: 200px;
    top: 130px;
}

.dropbox {
    display: flex;
    width: 60px;
    height: 80px;
    gap: 10px;
    flex-direction: column;
    position: relative;
    right:50px
}
.dropbox span{
    width: 60px;
    height: 10px;
    background: black;
    border-radius: 5px;
}
.mn-drop:checked ~ .sign{
    display: flex;
}
.aviso{
    font-size: 12pt;
    margin-left: 190px;
}
main{
    display: flex;
    align-content: center;
}
}