<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G1 Do Duque</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/usuario.css">
   

</head>
<body>
    <header class="header">
        <div class="logo">
           <h1> Colegio Estadual Duque De Caxias</h1>
           <h2>Liberdade</h2>
        </div>
        <nav class="nav">
            <a href="/user/{{session['nome']}}/config">
            <div class="avatar"><img src="" alt=""></div>
        <p class="nick">{{nome}}</p>
    </a>
            
        </nav>
    </header>
    <main class="main">
        <div class="ads">
            <div class="wrapper">
                <ul>
                    <a href="" class="item">Anuncie Aqui</a>
                    <a href="" class="item">Anuncie Aqui</a>
                    <a href="" class="item">Anuncie Aqui</a>
                    <a href="" class="item">Anuncie Aqui</a>
                    <a href="" class="item">Anuncie Aqui</a>
                    <a href="" class="item">Anuncie Aqui</a>
                </ul>
            </div>
    </div>

    <section class="box">
        
        <a href="/user/chat" class="chat"><h1>Chat's</h1><img src="../static/assets/chat.png" alt=""></a>
        <a href="/user/horarios" class="horarios"><h1>Horarios</h1><img src="../static/assets/Horarios.png" alt=""></a>
        <a href="/user/fofocas" class="fofocas"><h1>Fofocas</h1><img src="../static/assets/fofoca.png" alt=""></a>
    </section>

    
    </main>
</body>
</html>